
table {
    border-collapse: collapse;
    width: 50%; 
    margin: 20px auto; 
  }
  
  th { 
    padding: 10px;
    background-color: #ffffff; 
    border: 1px solid #120e0e; 
  }
  
  td { 
    padding: 10px; 
    border: 1px solid #000000; 
  } 
  